@charset "UTF-8";
body {
  font-family: 'Koulen', cursive;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.contenedor {
  width: 100%;
  height: 360px;
  background-image: url(/Images/iceland-g36a0a5408_640.jpg);
  background-repeat: no-repeat;
}

.item--c1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fcfefc;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.icon--search a {
  width: 20px;
  height: 20px;
}

.icons {
  text-decoration: none;
  color: #fcfefc;
}

.icons:hover {
  font-weight: 1000;
}

.gps {
  width: 36px;
  height: 36px;
  background-image: url(/Icons/gps.png);
  background-repeat: no-repeat;
}

.item--c2 {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
}

.item--c2 h1 {
  margin: auto;
  color: #fcfefc;
}

.item--c2 p {
  margin: auto;
  color: #fcfefc;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.explore h2 {
  color: #fcfefc;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.explore p {
  width: 80%;
  color: #fcfefc;
  margin: auto;
  margin-top: 5px;
  font-size: smaller;
}

.explore--images {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item--explore {
  width: 100%;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.img {
  margin: 5px;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
}

.img:nth-of-type(1) {
  background-image: url(/Images/1.jpg);
}

.img:nth-of-type(2) {
  background-image: url(/Images/2.jpg);
}

.img:nth-of-type(3) {
  background-image: url(/Images/3.jpg);
}

.img:nth-of-type(4) {
  background-image: url(/Images/4.jpg);
}

.img:nth-of-type(5) {
  background-image: url(/Images/5.jpg);
}

.img:nth-of-type(6) {
  background-image: url(/Images/6.jpg);
}

.explore--images a {
  text-decoration: none;
  color: #fcfefc;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.journal {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.journal h2 {
  margin: auto;
  color: #fcfefc;
}

.journal p {
  color: #fcfefc;
  width: 80%;
  font-size: smaller;
  margin: auto;
  margin-top: 5px;
}

.journal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.journal--item {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 50%;
  margin: 6px;
  padding: 5px;
}

.image--journal {
  height: 150px;
  width: 100%;
  background-image: url(/Images/7.jpg);
  background-repeat: no-repeat;
}

.image2--journal {
  height: 150px;
  width: 100%;
  background-image: url(/Images/8.jpg);
  background-repeat: no-repeat;
}

.text {
  color: #fcfefc;
  text-align: center;
  margin: 6px;
}

.text--p {
  font-size: small;
}

.footer {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(/Images/Montaña.jpg);
  background-repeat: no-repeat;
}

.allpost {
  margin: auto;
  margin-top: 5px;
  color: #fcfefc;
  text-decoration: none;
}

.privacidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.privacidad p {
  color: #fcfefc;
  margin: auto;
  text-decoration: none;
}

.privacidad a {
  color: #fcfefc;
  margin: auto;
  text-decoration: none;
}

@media screen and (min-width: 520px) {
  .contenedor {
    background-image: url(/Images/iceland-xx.jpg);
    background-position: bottom;
  }
  .footer {
    background-image: url(/Images/mountains-xx.jpg);
    background-position: bottom;
  }
  .journal p {
    color: #fcfefc;
    width: 100%;
    font-size: small;
    margin: auto;
    margin-top: 5px;
    text-align: center;
  }
  .img:nth-of-type(1) {
    background-image: url(/Images/1-1.jpg);
    background-position: center;
  }
  .img:nth-of-type(2) {
    background-image: url(/Images/2-2.jpg);
    background-position: center;
  }
  .img:nth-of-type(3) {
    background-image: url(/Images/3-3.jpg);
    background-position: center;
  }
  .img:nth-of-type(4) {
    background-image: url(/Images/4-4.jpg);
    background-position: center;
  }
  .img:nth-of-type(5) {
    background-image: url(/Images/5-5.jpg);
    background-position: center;
  }
  .img:nth-of-type(6) {
    background-image: url(/Images/6-6.jpg);
    background-position: center;
  }
  .journal--item img {
    background-image: url(/Images/7-7.jpg);
  }
  .image--journal {
    height: 400px;
    width: 100%;
    background-image: url(/Images/7-7.jpg);
    background-repeat: no-repeat;
  }
  .image2--journal {
    height: 400px;
    width: 100%;
    background-image: url(/Images/8-8.jpg);
    background-repeat: no-repeat;
  }
  .privacidad {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .privacidad a {
    margin: 10px;
  }
  .privacidad p {
    margin: 0;
    margin-right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */